.cinematic-circles-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* Add overlay */
.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(254, 155, 126, 0.5); /* Orange color with 50% opacity */
  z-index: -1; /* Ensure the overlay is above the video but below the content */
}

.content {
  position: relative;
  text-align: left;
  width: 100%;
  padding: 20px;
  z-index: 1; /* Ensuring content is above the overlay */
}

.heading {
  position: absolute;
  top: -50px;
  left: 75px;
  font-size: 3em;
  color: black;
  margin: 0;
}

.circles-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px; /* Gap between circle items */
  width: 100%;
  margin-top: 100px; /* Adjust margin-top to give space below the heading */
}

.circle-item {
  display: flex;
  align-items: center;
  transition: transform 0.3s ease;
}

.circle {
  width: 100px; /* Increased size */
  height: 100px; /* Increased size */
  border-radius: 50%;
  background: transparent;
  border: 3px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
}

.circle-number {
  color: #fff;
}

.circle-text {
  margin-left: 20px; /* Margin for separation between circle and text */
  text-align: left;
  font-size: 90px;
  font-weight: bold;
}

/* Hover Effects for Individual Circles */
.circle-1:hover .circle {
  transform: scale(1.5) translateX(10px);
}

.circle-2:hover .circle {
  transform: scale(1.5) translateX(10px);
}

.circle-3:hover .circle {
  transform: scale(1.5) translateX(10px);
}

.circle-4:hover .circle {
  transform: scale(1.5) translateX(10px);
}

/* Responsive Styles */
@media (max-width: 768px) {
  .heading {
    position: static;
    font-size: 2em;
    text-align: center;
    margin-top: 20px;
  }

  .circles-container {
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
  }

  .circle-item {
    flex-direction: column;
    text-align: center;
  }

  .circle {
    width: 80px;
    height: 80px;
    font-size: 1.5em;
  }

  .circle-text {
    margin-left: 0;
    margin-top: 10px;
    font-size: 24px;
  }

  /* Disable hover effects on mobile */
  .circle-1:hover .circle,
  .circle-2:hover .circle,
  .circle-3:hover .circle,
  .circle-4:hover .circle {
    transform: none;
  }
}
