.student-main{
    height: 150vh;
    width: 100%;
    border: 2px solid red;
}
.student-text{
    letter-spacing: 5px;
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
}
.student-div{
    letter-spacing: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 20px;
}
.main-container{
    height: 124vh;
    width: 90%;
    margin-left: 5%;
    border: 2px solid green;
    margin-top: 2%;
    background-color: rgba(255,241,223,255);
}