/* General styles */
.student-main {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.student-choose {
    margin-top: 20px;
}

.student-text {
    letter-spacing: 5px;
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: #444;
}

.student-div {
    letter-spacing: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 20px;
    color: #333;
}

.main-container {
    width: 90%;
    margin: 2% 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #eeaf9c;
}

.testimonial-half {
    width: 48%;
}

.divider {
    width: 2px;
    height: 100%;
    background-color: #ddd;
}

.testimonial-content {
    display: flex;
    align-items: flex-start;
    text-align: left;
    padding: 20px;
}

.testimonial-image-container {
    margin-right: 20px;
    flex-shrink: 0;
}

.testimonial-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.testimonial-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.testimonial-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.testimonial-name {
    font-size: 40px;
    color: white;
    font-weight: bold;
    margin-bottom: 5px;
}

.testimonial-rating {
    display: flex;
}

.star {
    font-size: 1.2em;
    color: #ccc;
}

.star.filled {
    color: #551503;
}

.testimonial-text {
    font-size: 1.1em;
    color: white;
    margin-top: 10px; /* Add some space before the testimonial text */
}

/* Responsive adjustments */
@media (max-width: 1024px) {
    .testimonial-half {
        width: 100%;
    }

    .divider {
        display: none;
    }

    .main-container {
        flex-direction: column;
        align-items: stretch;
    }

    .testimonial-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .testimonial-image-container {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .testimonial-text-container {
        align-items: center;
    }

    .testimonial-name {
        font-size: 30px;
    }

    .testimonial-text {
        font-size: 1em;
    }
}

@media (max-width: 768px) {
    .testimonial-name {
        font-size: 24px;
    }

    .testimonial-text {
        font-size: 0.9em;
    }
}

@media (max-width: 480px) {
    .main-container {
        padding: 10px;
    }

    .testimonial-image {
        width: 100px;
        height: 100px;
    }

    .testimonial-name {
        font-size: 20px;
    }

    .testimonial-text {
        font-size: 0.8em;
    }
}
