.courses-container {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.heading {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #333;
}

.heading .first-part {
  font-size: 38px;
  color: #333;
}

.heading .second-part {
  font-size: 48px;
  font-weight: bold;
}

.heading .third-part {
  font-size: 48px;
}

.courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.course-box {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 10px;
  padding: 0;
  width: 360px; /* Broader width */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.course-box:hover {
  transform: translateY(-10px);
}

.course-label {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #FE9B7E;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9em;
}

.image {
  max-width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.course-content {
  padding: 20px;
}

.course-box h2 {
  font-size: 1.5em;
  margin-top: 15px;
  color: #333;
}

.course-box p {
  font-size: 1em;
  color: #555;
  line-height: 1.5;
}

.course-rating {
  display: flex;
  align-items: center;
  font-size: 1em;
  margin-top: 10px;
}

.course-rating .rating-number {
  margin-right: 8px;
  color: #333;
}

.course-rating .stars {
  display: flex;
}

.star {
  color: #ddd;
  font-size: 1.2em;
  margin-right: 2px;
}

.star.filled {
  color: #ff9900;
}

.star.half-filled {
  color: #ff9900;
  position: relative;
}

.star.half-filled::after {
  content: '★';
  color: #ddd;
  position: absolute;
  left: 0;
  width: 50%;
  overflow: hidden;
}

.course-hover {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  padding: 10px 0;
  transform: translateY(100%);
  transition: transform 0.3s ease;
}

.course-box:hover .course-hover {
  transform: translateY(0);
}

.details-button {
  background: #FE9B7E;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.details-button:hover {
  background: #FE9B7E;
}
