.choose-us-main{
    width: 100%;
    height: 150vh;
    border: 2px solid red;
}
.choose-us p{
letter-spacing: 5px;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-style: normal;
}
.choose-us h1{
    letter-spacing: 5px;
    font-family: "Roboto",sans-serif;
    font-weight: 600;
    font-size: 3rem;
}
.orangered{
    color: rgb(230, 110, 67);
}
.course{
    color: rgb(234, 87, 33);
}
.boxes{
    width: 100%;
    height: 60vh;
    border: 2px solid red;
}