/* Home.css */
.home-container {
  display: flex;
  flex-direction: row; /* Arrange items horizontally */
  position: relative;
}

.slider {
  flex: 1; /* Take up remaining space */
}

.text {
  flex: 1; /* Take up remaining space */
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background for text */
}

/* Navbar styles */
nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0); 
  color: white;
  padding: 1rem;
  z-index: 1000; /* Ensure navbar is above other content */
}

.navbar-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.navbar-links ul {
  display: flex;
  list-style: none;
}

.navbar-links ul li {
  margin-left: 1rem;
}

.navbar-links ul li a {
  text-decoration: none;
  color: white;
}

.navbar-links ul li a:hover {
  color: #ccc;
}
