.main-container{
    height: 200vh;
    width: 100%;
    border: 2px solid green;
}

/* plans.css */
/* plans.css */
.plan-text{
    font-family: 'Times New Roman', Times, serif;
}
.gradient-text {
    background: linear-gradient(90deg, #ff887d, #ffaa80);
    -webkit-background-clip: text;
    font-size: 54px;
    letter-spacing: 10px;
font-family: 'Times New Roman', Times, serif;
    background-clip: text;
    color: transparent;
    transition: background 0.5s ease-in-out;
  }
  .choose-1{
    width: 25%;
    height: 120vh;
    border-radius: 15px;
    transition: background 2s ease-in-out;
    background-color: white;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    
  }
  .choose-1:hover {
    background: linear-gradient(to bottom,#e79f6c 0%,rgb(255, 186, 129) 10%, #e18256 50%,#da6d5c 100% );
  }
  
  
  