.main-container {
  height: 250vh;
  width: 100%;
  border: 2px solid green;
}

/* plans.css */
/* plans.css */
.plan-text {
  font-family: "Times New Roman", Times, serif;
}
.gradient-text {
  background: linear-gradient(90deg, #ff887d, #ffaa80);
  -webkit-background-clip: text;
  font-size: 54px;
  letter-spacing: 10px;
  font-family: "Times New Roman", Times, serif;
  background-clip: text;
  color: transparent;
  transition: background 0.5s ease-in-out;
}
.choose-1 {
  width: 25%;
  height: 170vh;
  border-radius: 15px;
  transition: background 2s ease-in-out;
  background-color: white;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.choose-1:hover {
  animation: shine 2s ease-in-out infinite;
  .plan-btn{
    background-color: black;
  }
}

@keyframes shine {
  0% {
    background: linear-gradient(
      to bottom,
      #e79f6c 0%,
      rgb(255, 186, 129) 10%,
      #e18256 50%,
      #da6d5c 100%
    );
  }
  50% {
    background: linear-gradient(
      to bottom,
      #da6d5c 0%,
      #e18256 25%,
      rgb(255, 186, 129) 50%,
      #e79f6c 75%,
      #da6d5c 100%
    );
  }
  100% {
    background: linear-gradient(
      to bottom,
      #e79f6c 0%,
      rgb(255, 186, 129) 10%,
      #e18256 50%,
      #da6d5c 100%
    );
  }
}

.icons-div {
  width: 40%;
  height: 15%;
  margin-top: 10%;
  justify-self: center;
  justify-items: center;
  align-items: center;
  text-align: center;
  margin-left: 28%;
  background-image: url(../assets/icons.jpg);
  backface-visibility: visible;
}

.icons-img {
  width: 100%; /* Adjust size as needed */
  height: auto;
  background: transparent;
}
.plan-content {
  height: 60%;
  width: 90%;
  border: 2px solid red;
  margin-left: 5%;
  margin-top: 10%;
  border-radius: 10px;
}
.plan-btn{
    width: 80%;
    background-color: rgba(255,128,124,255);
    color: white;
    letter-spacing: 4px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20%;
    height: 60px;
    margin-left: 10%;
    border-radius: 5px;
    
}
.plan-btn:hover{
    background-color: black;
}
